/* Bright Theme color:  #618f6b */
/* Dark Theme color: #3e5d45 */

/*@media (max-width: 480px) {
	a.brand {
		display: inline;
	}
}*/

@media (max-width: 980px) {
	#top {
		display: none;
	}
}

@media (min-width: 981px) {
	#top {
		display: inline;
	}
}


/* all size */

/** Common **/


.container-fluid {
	padding-left:	0;
	padding-right:	0;
}

.progress-container {
	display:	none;
}

.content {
	margin-top: 40px;
}

.stretch {
	width: 100%;
}

.navbar {
	margin-bottom: 0px;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

.heading {
	font-family: 'Ubuntu Mono', 'Ubuntu', Helvetica, Arial, sans-serif;
	color: white;
	background-color:	#272822;
	background-image:	url('../img/demo.jpg');
	background-repeat:	no-repeat;
	background-position:	10% 0px;
	margin-top:	40px;
}

h1.heading {
	font-weight: normal;
}

.heading-box {
	background-color:	#3e5d45;	/* dark theme color */
	opacity:	1.0;
	color:	white;
	padding:	20px;
	margin:	30px;
}

/** content part: common **/

.anchorTitle {
	padding-top: 40px;
	margin-top: -40px;
}

/** footer **/

.footer {
	background: #3e5d45;
	color:	white;
	padding-top: 5px;
}

.footer a {
	color: white;
	text-decoration: none;
}

.footer img {
	max-height:	50px;
	margin: 10px;
}

.logo {
	padding-left:	10px;
	padding-right:	10px;
}


.month-style a {
	color:	black;
	display:	block;
	/*padding:	10px;*/
}

i.icon-github {
	background-image: url("../img/GitHub-Mark-20px.png");
	background-position: 0px 0px;
	width:	20px;
	height:	20px;
	padding-left:	5px;
	padding-right:	5px;

}