<!DOCTYPE html>
<html lang="en" ng-app='projectPage'>

<head>

<!--[if lt IE 10 ]>
	<meta http-equiv="refresh" content="0; url=framework/noie.html">
<![endif]-->


<link rel="image_src" href="photo/title.png">
<meta name="description" content="CSCI4140 Projects!!  All projects are proposed by students. They are all motivated in creating and finishing their own work. The course instructor promotes the use of the trendy web technologies, including NodeJS, WebSocket, Box2D, HTML5 (WebRTC, orientation detection), etc."/>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="css/4140.css" rel="stylesheet" media="screen">
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

<link rel="shortcut icon" href="img/favicon.ico">

<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular-sanitize.min.js"></script>
<script src="js/app.js"></script>


<!-- Page basics -->

<title>CSCI4140 Project Gallery (2014 Spring)</title>

</head>

<!-- BODY -->

<body>

<!-- Required: Heading placeholder. 
	Selector used in all files: #top -->

<div class="container-fluid">
	<section id="top">
		<div class="row-fluid heading">
			<div class="span6 offset6 heading-box">
					<h1 style="font-weight:normal;">CSCI 4140 #proj-demo</h1>
					<br>
					<h2 style="font-weight:normal;">Spring Semester 2013-2014</h2>
				</span>
			</div>
		</div>
	</section>
</div>


<!-- Required: navbar placeholder. 
	Selector used in all files: #navbar -->
<div class="container" id="navbar">
	<div class="navbar subnav navbar-fixed-top">
	    <div class="navbar-inner">
	        <div class="container" id="navbarContainer">
	            <a class="brand" href="http://www.cse.cuhk.edu.hk/csci4140/" target="_blank">
	                <strong>Course Homepage</strong>
	            </a>
	        </div>
	    </div>
	</div>
</div>


<div class="container content">

	<div class="row-fluid">
		<div class="span12">
			What are those projects?
		</div>
	</div>

<!-- Angular JS -->

	<div ng-controller="projectInfoController as infoCtrl">
		<div ng-repeat="p in infoCtrl.projects">
			<hr>
			<div class="row-fluid">
				<div class="span6 offset1">
					<h3>{{p.name}}</h3>
					<p>
						{{p.description}}
					</p>
					<p ng-repeat="r in p.repos">
						<i class="icon-github"></i> {{r.description}}: <a href="{{r.url}}">{{r.url}}</a>
					</p>
					<p ng-show="p.live">
						<i class="icon-home"></i> Live system: <a href="{{trustSrc(p.live)}}">{{p.live}}</a>
					</p>
				</div>
				<div class="span5">
					<iframe width="400" height="225" ng-src="{{trustSrc(p.youtubeURL)}}" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>

</div>



<!-- Required footer placeholder.
	Selectors used:
	.footer
-->
<div class="container-fluid">
	<footer class="footer">
		<div class="row-fluid footer">
			<div class="span10 offset1">
				<table>
					<tr>
						<td valign="top">
							<h4>Find us</h4>
							<nobr>
								<a href="http://appsrv.cse.cuhk.edu.hk/~csci4140/course-homepage-4140/index.php" title="The Chinese University of Hong Kong" target="_blank">
									<img src="img/cuhk-white-small.gif" border="0"/>
								</a>
								<a href="https://github.com/cuhk-csci4140" title="cuhk-csci4140 github repo" target="_blank">
									<img src="img/github_logo.png"/>
								</a>
								<a href="https://www.facebook.com/groups/1423846061185879/" title="Course Facebook Discussion Group" target="_blank">
									<img src="img/facebook_logo.png"/>
								</a>
							</nobr>
						</td>

						<td>
						</td>

						<td>
							<h4>Powered by</h4>
							<nobr>
								<a href="https://angularjs.org/" title="Powered by AngularJS" target="_blank">
									<img src="img/angularjs-white.png"/>
								</a>
								<a href="http://getbootstrap.com/" title="Powered by Bootstrap" target="_blank">
									<img src="img/bootstrap-white.png"/>
								</a>
							</nobr>
						</td>
				</table>
			</div>
		</div>
	</footer>
</div>

<!-- <script src="js/ga.js"></script> -->

</body>

</html>
